body {
  background-color: white;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

a {
  cursor: pointer;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.header-main {
  width: 100%;
  height: 75px;
  background-image: linear-gradient(to right, #000029, #000015, #000002);
  display: flex;
  justify-content: space-between;
}

.header-main-logo {
  width: fit-content;
  height: 100%;
  padding-left: 25px;
  display: flex;
}

.header-main-logo img {
  height: 120px;
  align-self: center;
}

.header-main-nav {
  width: fit-content;
  height: 100%;
  color: white;
}

.header-main nav ul {
  margin-left: 30px;
}

.header-main-nav ul li {
  display: inline;
  float: left;
}

.header-main-nav ul li a {
  color: white;
  transition: color 0.3s;
  padding: 0 30px;
  line-height: 75px;
  font-family: Arial, Helvetica, sans-serif;
}

.header-main-nav ul li a:hover {
  color: #c31432;
}

.header-main-nav .nav-link {
  text-decoration: none;
}

.header-main-nav .nav-right {
  text-decoration: none;
  margin-left: 241px;
}

.top-hero-img {
  height: 850px;
  filter: brightness(75%);
  background-image: url('/images/paramedic.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#logo-clean {
  position: absolute;
  top: 69%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 40%;
  animation: fadeIn 2s;
}

.section-top h1.top {
  color: #c31432;
  position: absolute;
  top: 74%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 4em;
  animation: fadeIn 3s;
}

.section-top h4.bot {
  color: white;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: justify;
  font-size: 2em;
  animation: fadeIn 4s;
}

.section-top button.btn-primary {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 50px;
  border-radius: 10px;
}

.custom-primary-top {
  background-color: #c31432;
  border-color: #c31432;
  color: white;
  transition: background-color 0.3s ease;
}

.custom-primary-top:hover {
  background-color: #8b0000;
  border-color: #8b0000;
  color: white;
}

.section-1 {
  background-color: #000029;
}

.section-1 h1.top {
  color: #c31432;
  padding-top: 50px;
  padding-left: 200px;
  font-size: 2.5em;
  font-weight: bold;
}

.section-1 p.top {
  color: white;
  padding-top: 50px;
  padding-left: 150px;
  padding-right: 900px;
  font-size: 1.2em;
  text-align: justify;
  text-align-last: center;
}

.section-1 h1.bot {
  color: #c31432;
  padding-top: 50px;
  padding-left: 175px;
  font-size: 2em;
  font-weight: bold;
}

.section-1 p.bot {
  color: white;
  padding-top: 40px;
  padding-left: 150px;
  padding-right: 900px;
  padding-bottom: 110px;
  font-size: 1.2em;
  text-align: justify;
  text-align-last: center;
}

.section-1 button.btn-primary {
  height: 50px;
  width: 200px;
  position: relative;
  top: 10px;
  left: 20%;
  margin-left: 180px;
}

.custom-primary {
  background-color: #c31432;
  border-color: #c31432;
  color: white;
  transition: background-color 0.3s ease;
}

.custom-primary:hover {
  background-color: #8b0000;
  border-color: #8b0000;
  color: white;
}

.section-2 {
  background-color: #000015;
  position: relative;
}

.section-2 h1.top {
  color: #c31432;
  padding-top: 75px;
  padding-bottom: 75px;
  text-align: center;
  font-size: 2.5em;
  font-weight: bold;
}

.section-2 div.row {
  padding-bottom: 150px;
}

.section-2 button.btn-primary {
  height: 50px;
  width: 250px;
  border-radius: 25px; 
}

.card-image {
  max-width: 100%;
  height: auto;
}

.card-body {
  text-align: center;
  background-color: #fff;
  padding: 10px;
}

.section-3 {
  background-color: #000029;
}

.image-container {
  text-align: center;
}

.Banner-card img {
  /* 
  margin-top: 50px;
  height: 650px;
  width: 1000px;
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
  align-items: center;
  position: relative; */
  filter: brightness(80%);
  display: block;
  padding-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  max-width: 100%;
  height: auto;
  border-radius: 50%;
}

.Banner-card{
  position: relative;
}

.section-3 text-center {
  position: absolute; /* Mengatur posisi elemen dengan posisi absolut */
  top: 50%; /* Posisi vertikal di tengah */
  left: 50%; /* Posisi horizontal di tengah */
  transform: translate(-50%, -50%); /* Pusatkan elemen dengan menggesernya sejauh setengah lebar dan tinggi elemen */
  text-align: center; /* Pusatkan teks */
}

.centered-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  text-shadow: #000002;
}
.centered-btn {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: #000002;
}

.centered1-btn {
  /* position: relative;
  transform: translate(15%, -60%);
  top: 355%;
  left: 45%; */
  margin-top: 20px;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.centered-btn-4 {
  position: absolute;
  top: 200%;
  left: 12%;
  transform: translate(-50%, -50%);
  text-shadow: #000002;
}

.section-3 h1.top {
  color: white;
  position: absolute;
  top: 400%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 2.5em;
}

.section-3 button.btn-primary {
  position: absolute;
  top: 407%;
  left: 100%;
  transform: translate(-50%, -50%);
  height: 50px;
  border-radius: 10px;
}

.custom-primary-2 {
  background-color: #c31432;
  border-color: #c31432;
  color: white;
  transition: background-color 0.3s ease;
}

.custom-primary-2:hover {
  background-color: #8b0000;
  border-color: #8b0000;
  color: white;
}

.section-4 {
  background-color: #000029;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.section-4 h1.top {
  color: #c31432;
  text-align: center;
  font-size: 2.5em;
  padding-top: 100px;
}

.section-4 h2.bot {
  color: white;
  text-align: center;
  font-size: 2em;
  padding-top: 10px;
}

.section-4 p {
  color: white;
  text-align: center;
  font-size: 1.2em;
  padding-top: 30px;
  margin-bottom: 0;
}

.section-4 button.btn-primary {
  height: 50px;
  width: 200px;
  position: relative;
  top: -25px;
  margin-left: 500px;
  border-radius: 50px;
}



.card {
  border: 2px solid #ffffff;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 5rem;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
}

.card1 a {
  
  gap: 10px;
  width: 200px;
  height: 200px;
  padding: 10px;

  transform: translate(-5%, -20%);
  top: 320%;
  left: 45%;
}
.card1{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;

  

}

.card-body1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; /*jarak antara gambar pada card*/
}

.card-img {
  border-radius: 20px;
  width: 200px;
  height: 200px;
  margin: 10px;
}
.row.justify-content-center {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

/* .container{
  max-width: 1200px;
  width: 100%;
  padding:0 20px ;
} */
/* batas */
