body {
  background-color: #000015;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

a {
  cursor: pointer;
}

.header-main {
  width: 100%;
  height: 75px;
  background-image: linear-gradient(to right, #000029, #000015, #000002);
  display: flex;
  justify-content: space-between;
}

.header-main-logo {
  width: fit-content;
  height: 100%;
  padding-left: 25px;
  display: flex;
}

.header-main-logo img {
  height: 120px;
  align-self: center;
}

.header-main-nav {
  width: fit-content;
  height: 100%;
  color: white;
}

.header-main nav ul {
  margin-left: 30px;
}

.header-main-nav ul li {
  display: inline;
  float: left;
}

.header-main-nav ul li a {
  color: white;
  transition: color 0.3s;
  padding: 0 30px;
  line-height: 75px;
  font-family: Arial, Helvetica, sans-serif;
}

.header-main-nav ul li a:hover {
  color: #c31432;
}

.header-main-nav .nav-link {
  text-decoration: none;
}

.header-main-nav .nav-right {
  text-decoration: none;
  margin-left: 500px;
}

.top-hero-img {
  height: 500px;
  filter: brightness(50%);
  background-image: url('/images/first-aid-kit.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.section-top h1.top {
  color: #c31432;
  position: absolute;
  top: 32%;
  left: 31%;
  transform: translate(-50%, -50%);
}

.section-top h1.bot {
  color: white;
  position: absolute;
  top: 41%;
  left: 51%;
  transform: translate(-50%, -50%);
  text-align: justify;
  font-size: 1.5em;
}

.section-1 h1.top {
  color: #c31432;
}
.section-2 h5.card-title {
  color: #000029;
}

.section-2 p.card-text {
  text-align: justify;
  text-align-last: center;
  -webkit-line-clamp: 3;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.card-img-top {
  width: 100%; /* Atur lebar gambar menjadi 100% */
  height: 200px; /* Sesuaikan tinggi gambar sesuai kebutuhan, pastikan semua gambar memiliki tinggi yang sama */
  object-fit: cover; /* Mengatur gambar agar mengisi seluruh area card-img-top */
}

.custom-primary-top {
  background-color: #c31432;
  border-color: #c31432;
  color: white;
  transition: background-color 0.3s ease;
}

.custom-primary-top:hover {
  background-color: #8b0000;
  border-color: #8b0000;
  color: white;
}
